# Data Preparation and Train-Test Split

In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import networkx as nx

## Loading the Data

In [5]:
# Load ratings
ratings = pd.read_csv('ml-100k/u.data', sep='\t', names=['user_id','movie_id','rating','timestamp'])
ratings.head(), ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   user_id    100000 non-null  int64
 1   movie_id   100000 non-null  int64
 2   rating     100000 non-null  int64
 3   timestamp  100000 non-null  int64
dtypes: int64(4)
memory usage: 3.1 MB

(   user_id  movie_id  rating  timestamp
 0      196       242       3  881250949
 1      186       302       3  891717742
 2       22       377       1  878887116
 3      244        51       2  880606923
 4      166       346       1  886397596,
 None)

In [6]:
# Load users
users = pd.read_csv('ml-100k/u.user', sep='|', names=['user_id','age','gender','occupation','zip_code'])
users.head(), users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 943 entries, 0 to 942
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   user_id     943 non-null    int64
 1   age         943 non-null    int64
 2   gender      943 non-null    object
 3   occupation  943 non-null    object
 4   zip_code    943 non-null    object
dtypes: int64(2), object(3)
memory usage: 37.0+ KB

(   user_id  age gender  occupation zip_code
 0        1   24      M  technician    85711
 1        2   53      F       other    94043
 2        3   23      M      writer    32067
 3        4   24      M  technician    43537
 4        5   33      F       other    15213,
 None)

In [7]:
# Load movies
movies = pd.read_csv('ml-100k/u.item', sep='|', encoding='latin-1', usecols=range(5), 
                     names=['movie_id','title','release_date','video_release_date','IMDb_URL'])
movies.head(), movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1682 entries, 0 to 1681
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   movie_id            1682 non-null   int64
 1   title               1682 non-null   object
 2   release_date        1681 non-null   object
 3   video_release_date  0 non-null      float64
 4   IMDb_URL            1679 non-null   object
dtypes: float64(1), int64(1), object(3)
memory usage: 65.8+ KB

(   movie_id              title release_date  video_release_date  \
 0         1   Toy Story (1995)  01-Jan-1995                 NaN
 1         2   GoldenEye (1995)  01-Jan-1995                 NaN
 2         3  Four Rooms (1995)  01-Jan-1995                 NaN
 3         4  Get Shorty (1995)  01-Jan-1995                 NaN
 4         5     Copycat (1995)  01-Jan-1995                 NaN

                                             IMDb_URL
 0  http://us.imdb.com/M/title-exact?Toy%20Story%2...
 1  http://us.imdb.com/M/title-exact?GoldenEye%20(...
 2  http://us.imdb.com/M/title-exact?Four%20Rooms%...
 3  http://us.imdb.com/M/title-exact?Get%20Shorty%...
 4  http://us.imdb.com/M/title-exact?Copycat%20(1995)  ,
 None)